body{
    font-family: Arial, Helvetica, sans-serif;
    background: linear-gradient(-55deg, rgb(212, 25, 225), rgb(52, 210, 73), rgb(8, 230, 233));
    min-height: 100vh;
    /*ff91d9*/
}
.container{
    perspective: 600px;
    width: 190px;
    height: 190px;
    float: left;
    margin: 0 15px 15px 0;    
}

.carta{
    transform-style: preserve-3d; /*Para os lados aparecerem em 3D*/
    transition: transform 0.8s; /*Para a virada da carta ter uma transição*/
    position:relative;
    width: 100%;
    height: 100%;
    float:left;
}


.lado{
    backface-visibility: hidden; /* Para o lado de trás não aparecer*/
    position:absolute;
    width: 100%;
    height: 100%;
}
/* edicao do corpo das cartas*/
[id^=frente]{
    border: 4px solid rgb(40, 38, 35);
    position:absolute;
    border-radius: 5%;
    background-color: white; 
    font-size: 40px;
    text-align: center;
    font-style: helvetica;
    background-image: url("../img/logo.jpg");
    background-size: cover;
    background-position: center;
    cursor: pointer;
}
[id^=verso]{
    background-color: white;
    transform: rotateY(180deg);
    border-radius: 10%;
}
img{
    width: 190px;
    height: 190px;
    border-radius: 10%;
    border: 1px solid rgb(40, 38, 35);
}
p{
    text-align: center;
    padding-top: auto;
}

#jogoMemoria{
    width: 1242px;
    height: 621px;
    margin-top: 10px;
    float: right;
    margin-right: 10px;
}

.msgregras{
    background-color: aqua;
    color: black;
    width: 700px;
    height: 300px;
    display:none;
    position: absolute;
}

.mostrar{
    display: block;
}

.titulo{/*das regras*/
    text-align: center;
}

.texto{/*das regras*/
    text-align: justify;
    display: block;
}

#timer, #pontuacao, #btregras, #dica, #btReiniciaJogo, #btReiniciaJogoModal, #divSelect{
    color: rgb(255, 255, 255);
    background-color: rgb(210, 109, 218);
    padding: 20px;
    border: 4px solid;
    border-radius: 30px;
    font-size: 35px;
    border-color: rgb(255, 255, 255);
    margin-bottom: 5px;
    width: fit-content;
}

#divSelect:hover, .opcoes:hover, #btregras:hover, #dica:hover, #btReiniciaJogo:hover, #button:hover, #btReiniciaJogoModal:hover{
    color: rgb(255, 255, 255);
    background-color: rgb(4, 0, 255);
    border-color: rgb(255, 255, 255);
    cursor: pointer;
}

#timer{
    float: right;
    margin-right: 35%;
    padding: 10px;
}

.titulo {
    font-size: 40px; /* Aumenta o tamanho da fonte do título */
}

.texto {
    font-size: 30px; /* Aumenta o tamanho da fonte do texto */
}

.texto {
    font-size: 45px; /* Aumenta o tamanho da fonte do botão */
    padding: 20px 20px; /* Adiciona um pouco de espaçamento ao botão */
    border-radius: 5px;
    width: 600px;
    height: 600px;
}

.swal2-popup{
    scale: 1.75;
}

.modal-custom {
    width: 800px; /* Ajuste conforme necessário */
    max-width: 90%;/* Para garantir que não fique muito grande em telas pequenas */
}

*{
    -webkit-touch-callout: none;  /* iPhone OS, Safari */
    -webkit-user-select: none;    /* Chrome, Safari 3 */
    -khtml-user-select: none;     /* Safari 2 */
    -moz-user-select: none;       /* Firefox */
    -ms-user-select: none;        /* IE10+ */
    user-select: none;            /* Possível implementação no futuro */
}

#fundoModalFimJogo{
    background-color:rgba(0, 0, 0, 0);
    transition: background-color 500ms;
    width: auto;
    z-index: 3;
    position: absolute;
    top:0;
    left:0
}

#modalFimJogo{
    width: 500px;
    height: 600px;
    position: absolute;
    margin-left:auto;
    z-index: 5;
    transition: background-color 500ms;
    left:50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background: linear-gradient(-55deg, rgb(212, 25, 225), rgb(52, 210, 73), rgb(8, 230, 233));
    border-radius: 10%;
    border: 4px solid white;
    flex-direction: column;
}

#pontuacaoModalFimJogo, #timerModalFimJogo, #btSaiModalFimJogo, #divBotoesModalFimJogo{
    margin-top: 10px;
    margin-bottom: 50px;
}

.itensModalFimJogo{
    width: fit-content;
    height:auto;
    position:relative;
    margin:auto
}

.itensModalFimJogo:not(button){
    color:white;
    transition: color 500ms;
}

#divBotoesModalFimJogo{
    width: 427px;
    height: 90px;
    margin: 20px auto auto auto;

}

#btSaiModalFimJogo, #btReiniciaJogoModal{
    display:none;
    transition: display 500ms;
    float:none;
    margin: auto;
}

#btSaiModalFimJogo{
    margin-top: 50px;
    font-size: 35px;
    color: black;
    text-decoration: underline;
    background-color: rgba(0,0,0,0);
    border: 0px;
}

#btSaiModalFimJogo:hover{
    color: blue;
    cursor: pointer;
}

#msgAgradecimentoFimJogo{
    display: block;
    margin-top:20px;
    margin-bottom: 115px;
}

.muda-de-cor{
    animation-name: mudaCor;
    animation-duration: 5s;
    animation-iteration-count: infinite;
}

@keyframes mudaCor{
    0%{
        scale: 1.0;
    }
    50%{
        scale: 3;
    }
    100%{
        scale: 1.0;
    }
}
button, #pontuacao, #timer{
  font-size: x-large;  
}

#pontuacaoModalFimJogo{
    font-size: 40px;
    color:rgba(0, 0, 0, 0);
    font-weight: bold;
}

#timerModalFimJogo{
    font-weight: bold;
    font-size: 40px;
    color:rgba(0, 0, 0, 0);
    margin-bottom: 75px;
}

.swal2-confirm{
    background-color:rgb(210, 109, 218); ;
}

/*Solução provisória adaptação máquina*/
#btReiniciaJogo, #pontuacao, #divSelect, .opcoes{
    font-size: x-large !important;
}


.opcoes{
    display: none;
    z-index: 2;
    width: 210px;
    background-color: rgb(210, 109, 218);
}
#divSelect, .opcoes{
    height: 50px;
    color:white;
    float:left;
    padding: 15px 0 0 5px;
    position: relative;
}
#divSelect{
    margin:0;
    width: 170px;
    border:5px solid white;
    z-index: 1;
    padding: 20px;
    height: fit-content;
}
#selectTema{
    height:fit-content;
    width:210px;
    float: left;
    margin-bottom: 5px;
}
